version: "3"
services:
  webdav:
    image: thm64/webdav:latest
    build:
      context: ./
      dockerfile: Dockerfile
    ports:
      - "${PORT:-80}:80"
    environment:
      - USERNAME=$USERNAME
      - PASSWORD=$PASSWORD
      - ROOT_DIRECTORY=$ROOT_DIRECTORY
      - RUN_AS=$RUN_AS
    volumes:
      - "${HOST_DATA_PATH:-/mnt}:/data"
      - /etc/group:/etc/group:ro
      - /etc/passwd:/etc/passwd:ro
      - /etc/shadow:/etc/shadow:ro
    restart: unless-stopped
